<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu container">
    <div class="navbar-start">
      <%= link_to "Our team", employees_path, class: "navbar-item" %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item pr-0">
          <a href="https://github.com/bigchickenwings" class="p-2 mr-2">
            <%= image_tag("github.svg") %>
          </a>
          <a href="https://www.linkedin.com/in/fernandorpm/" class="p-2">
            <%= image_tag("linkedin.svg") %>
          </a>
      </div>
    </div>

  </div>
</nav>
