/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
  min-height: 100vh;
}

.w-100 {
  width: 100%;
}

.tag {
  width: 60px;
}

.visible-when-hovering {
  opacity: 0;
}

a:hover .visible-when-hovering {
  opacity: 1;
}

.is-rounded-small {
  border-radius: 8px;
}

.flip {
  transform: rotate(-0.5turn);
}

.br-2 {
  border-right: 2px solid #f5f5f5;
}

